@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Raleway:wght@400;700&family=VT323&display=swap');
/*font-family: 'Jost', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'VT323', monospace;*/

body, html {
    height: 100%;
    scroll-behavior: smooth;
    background-color: black;
}

nav{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100%;
  background-color:black;
  color: white;
  width: auto;
  top: 0px;
  padding: 10px;
}

/*nav pseudo styles*/
a{
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #800080;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

a:active {
  color: #800080;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/*nav list styles*/
ul{
  list-style-type: none;
  width: auto;
}

li{
  display: inline-block;
  width: 200px;
  max-width: 300px;
}

header{
  opacity: 70%;
  /*background-image: url(placeholder1.jpeg);*/
  color: white;
  text-align: right;
  padding: 1%;
  font-family: 'Raleway', sans-serif;
}

.justify{
  text-align: justify;
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  padding: 2em;
  float: right;
}

/*parallax*/
.parallax{ 
  background-image: url("placeholder1.jpeg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  color: white;
  font-family: 'Raleway', sans-serif;
}

/*sub-section styles*/
#home{
  color: white;
  padding: 5%;
  text-align: justify;
  width: auto;
  height: auto;
}

#info{
 color: white;
 padding: 5%;
 text-align: justify;
}

#story{
 color: white;
 padding: 5%;
 text-align: justify;

}

#game{
 color: white;
 padding: 5%;
 text-align: justify;

}

/*styles per class*/
.fit{
   max-width: 100%; 
   width: auto;
   height: auto;
   display: inline-block;
}

.font-gen{
  font-size: 120%;
  font-family: 'Jost', sans-serif;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.padding{
  padding: 2em;
  padding-bottom: 0;
  font-size: 200%;
  font-weight: 700;
}

.overflow{
  max-width: 600px;
  max-height: 400px;
  padding: 3%;
  overflow: scroll;
  display: inline-block;
}

.overview-overflow{
  max-width: 400px;
  max-height: 400px;
  padding: 5%;
  overflow: scroll;
  text-align: justify;
  float: right;
  margin: auto;
}

.logo{
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  margin: auto;
  padding-left: 2em;
  padding-bottom: 2 em;
  position: relative; 
  top: -18px;
}

/*pseudo codes*/
p::first-letter {
  font-size: 200%;
}